<h1>{{title}}</h1>
<h2>{{author}}</h2>
<h3>{{date}}</h3>
<p>{{text}}</p>

<form action="/comments/new" method="POST">
  <input name="text" placeholder="Your Fro-yo Reaction....">
  <button>Submit</button>
</form>
